﻿body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #606060;
  position: relative;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
h2,h3 { font-weight: 300;}


h1{

  font-family: "Sofia",sans-serif;
  font-weight: 300;

}

p { line-height: 28px;}

hr {
  border-color: #f2f2f2;
  width: 100px;
  margin-bottom: 40px;
}
.title {
  color: #000000;
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
/* columbs */
.container1 {
  width: 100%;
  padding-left: 0;
  margin: 50px;
}
.column1 {
  float: left;
  width: 330px;
  padding-top: 50px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.profile-badge--width-330 {
  width: 630px;
}
.column2 {
  float: left;
  width: 40%;
  padding-top: 50px;
  padding-left: 100px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column3 {
  float: left;
  width: 330px;
  padding-top: 50px;
  padding-left: 100px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.container4{
  padding-top: 20px;
  padding-bottom: 35px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
/* START NAVIGATION */
.sticky-navigation { opacity: 0; }
.navbar-default {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand {
  color: #212227;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  padding: 10px 0 0 12px;
}
.navbar-default .navbar-nav li a {
  color: #202020;
  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li a:hover { color: #eb5424; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eb5424;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eb5424;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #eb5424;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* END NAVIGATION */

/* START HOME */
.templatemo-home {
  background: url('../images/home-bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;  
  height: 100vh;
}
.tm-home-title,

.tm-home-title { font-size: 60px;
  font-family: "Sofia",sans-serif;
  font-weight: 300;
  padding-bottom: 50px;
}
.tm-home-subtitle {
  color: #eb5424;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 2px;
}
.tm-view-more-btn {
  
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 15px 50px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;

          background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
          padding: 20px 40px;
          margin: 12px;
          display: inline-block;
          -webkit-transform: translate(0%, 0%);
                  transform: translate(0%, 0%);
          overflow: hidden;
          color: #d4e0f7;
          font-size: 20px;
          letter-spacing: 2.5px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        
  }
.tm-view-more-btn:hover {
  background: #ffffff;
  color: #eb5424;
}
/* END HOME */

/*Service */


/* START WORK */
.tm-padding-top-bottom-100 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.tm-work-h3 {
  color: #eb1a1a;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.work-wrapper {

  border-radius: 2px;
  text-align: center;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.work-wrapper:hover { border-color: #ff0000; }
.work-wrapper .fa {
  color: #000000;
  font-size: 60px;
  padding-bottom: 40px;
}
/* END WORK */

/* START PORTFOLIO */
.tm-portfolio {
  background: #f8f8f8;
  padding-top: 50px;
}
.tm-portfolio .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tm-portfolio .col-md-3,
 .tm-portfolio .col-sm-3 {
  padding: 0;
  margin: 0;
}
.tm-portfolio-title {
  text-align: center;
  text-transform: uppercase;
}
.portfolio-item-title {
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}
.portfolio-thumb {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.portfolio-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eb5424;
  color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
  padding: 0 40px;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.8;  
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}
.portfolio-overlay .fa {
  border: 1px solid #666;
  border-radius: 0;
  color: #666;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 10px;
}

/* FILTER CSS */
.filter-wrapper {
  width: 100%;
  margin: 0 0 24px 0;
  overflow: hidden;
  text-align: center;
}
.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}
.filter-wrapper li a {
  color: #999999;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:focus,
 .filter-wrapper li a:hover,
 .filter-wrapper li a.selected {
  background: #eb5424;
  border-color: transparent;
  color: #ffffff;
}

/* ISOTOPE BOX CSS */
.iso-box-section { width: 100%; }
.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}
.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
  height: auto;
}
/* END PORTFOLIO */

.tm-certificates-title{
  font-size: 60px;
}

.tm-portfolio-title
{
  font-size: 60px;
}

/* START RESUME */
.tm-red-text { color: #eb5424; }
.tm-info-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 4px;
}
.progress-bar-danger { background: #eb5424; }
.tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}
.progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
}
/* END RESUME */

/* START ABOUT */
.tm-about {
  background: url('../images/about-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* END ABOUT */
@media screen and (max-device-width: 1024px){
  .templatemo-home {
    background-attachment: scroll;
  }
}

/* START MEDIA 980 */
@media screen and (max-width:980px){
  .portfolio-overlay  { padding-top: 10px; }
}
/* END MEDIA 980 */

@media screen and (max-width: 767px) {
  .tm-home-title { font-size: 40px; }
}

/* START MEDIA 360 */
@media screen and (max-width:360px){
  .navbar-default .navbar-brand {  padding-top: 2px; }
}
/* END MEDIA 360 */

/* START certificates */
.tm-certificates {
  background: #f8f8f8;
  padding-top: 50px;
}
.tm-certificates .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tm-certificates .col-md-3,
 .tm-certificates .col-sm-3 {
  padding: 0;
  margin: 0;
}
.tm-certificates-title {
  text-align: center;
  text-transform: uppercase;
}
.certificates-item-title {
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}
.certificates-thumb {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.certificates-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eb5424;
  color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
  padding: 0 40px;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.certificates-thumb:hover .certificates-overlay {
  opacity: 0.8;  
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}
.certificates-overlay .fa {
  border: 1px solid #666;
  border-radius: 0;
  color: #666;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 10px;
}
h4 {

  border-top: 2px dashed;
  border-color: blue !important;
  margin:0; padding: 30px;
}



h4:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

h4:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

h4:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

h4:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dashed black;
  padding: 0 0 50px 30px;
  position: relative;
}



.rb-container ul.rb li::before {
  position: absolute;
  left: -8px;
  top: 8px;
  content: " ";
  border: 8px solid rgb(0, 0, 0);
  border-radius: 500%;
  background: #000000;
  height: 8px;
  width: 8px;
  transition: all 500ms ease-in-out;
}

ul.rb li .timestamp {
  font-size: 1.75em;
  margin-bottom: 1.2em;
  color: black;
  position: relative;
}


@import url(https://fonts.googleapis.com/css?family=Lora);