<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- SITE TITLE -->
	<title>Harsh Panchal</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body data-spy="scroll" data-target="#rock-navigation">
	<!-- START NAVIGATION -->
	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Profolio</a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#resume" class="smoothScroll">Profile</a></li>
					<li><a href="#work" class="smoothScroll">Rules</a></li>
					<li><a href="#portfolio" class="smoothScroll">Projects</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#certificates"class="smoothScroll">Certificates</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- END NAVIGATION -->
	
	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		
		<div class="container">
			<div class="row">
				<div class="w3-container w3-center w3-animate-top">
					<h1 class="tm-home-title"><strong>Harsh Panchal</strong></h1>
					<img class="pp" src="images/pp.png"  style="width:200px">
					<h2 class="tm-home-subtitle">
					<h1>
						<a href="https://www.linkedin.com/in/harsh-panchal-1a878014a/" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/plasticine/100/000000/linkedin.png" width="50" /></a>
						<a href="mailto:harsh5chal12345@gmail.com" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/plasticine/100/000000/gmail.png"  width="50" /></a>
						<a href="https://harsh5chal.github.io/" target="_blank" rel="noopener noreferrer"><img <img src="https://img.icons8.com/plasticine/100/000000/chrome.png" width="50" /></a>
						<a href="https://twitter.com/harsh5chal" target="_blank" rel="noopener noreferrer"><img <img src="https://img.icons8.com/plasticine/100/000000/twitter--v1.png" width="50" /></a>
					</h1>
				    </h2>
					<p>&nbsp;&nbsp;&nbsp;&nbsp; I'm currently pursuing B.tech from  DTU <strong>Delhi Technological University</strong> / <strong>DTU</strong> . Thank you.</p>
					<a href="#resume" class="btn btn-default smoothScroll tm-view-more-btn">Let's Begin</a>
				</div>
			</div>
		</div>
		</div>
	
	</section>
	<!-- END HOME -->

	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">					
					<div class="work-wrapper">
					
						<img align="right" alt="GIF" src="https://user-images.githubusercontent.com/75268993/125508340-20eb6b55-570a-4ee4-8a16-7c5ed620162c.png" width="600"/>

					
					</div>

				</div>
				
				<div class="col-md-6 col-sm-6">
					<div class="cal">
					  <h2 class="title">MY Rules</h2>
					  <h4 style="font-family:Helvetica;"><i class="fa fa-code"></i> CODE</h4>
					  <h4 style="font-family:Helvetica;"><i class="fa fa-globe"></i> ANALYSIS</h4>
					  <h4 style="font-family:Helvetica;"><i class="fa fa-leanpub"></i> LEARN</h4>			

					</div>
			</div>
		</div>
	</section>

	              
	<!-- START RESUME -->
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">		
					<h2 class="title"><strong>ABOUT ME</strong></h2>			
					<p> 🔭 I’m currently working on <strong> Web Dev </strong> and <strong> Data Science </strong> </p>
                    <p> 🌱 I’m currently learning <strong>dynamic programming.</strong></p>
                    <p> 👯 I’m looking to collaborate on<strong> open source</strong> projects.</p>
                    <p> 🌱 <strong>Enthusiast</strong> in Web Dev and Machine Learning.</p>
                    <p> 💬 Ask me about my favorite <strong>programming</strong> language.</p>
                    <p> ⚡ Fun fact : Nobody ever won a <strong>chess</strong> game by resigning.</p>
				</div>

				<div class="col-md-6 col-sm-6">
					<h2 class="title"><strong>Tech Stack</strong></h2>
                    <p> 💻 C  | C++ | Python  </p> 
                    <p> 🌐  HTML | CSS | JavaScript | Angular | Android | flutter </p>
					<p> 🛢  DBMS | MySQL | ER Daigrams </p>
					<p> 🔧 Visual Studio code | Jupyter Notebook | Android Studio | PyCharm | Git </p>

				</div>
			</div>
		</div>
	</section>

		
		
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">					
					<h2 class="title"><strong>POSITIONS</strong> OF RESPONSIBILITY </h2>
					
					<div class="rb-container">
						<ul class="rb">
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
							  Campus Ambassador | Great Learning
							  <h6 style="font-size: medium;">Jun’21 – Jul’21</h6>
							</div>
							<p>India’s leading Ed-tech companies for professional and higher education.
							   Engage students on campus to grow awareness of Great Learning and exclusive offers on courses.
							</p>
							</li>
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
							  Corporate Ambassador | IFortis Corporate
							  <h6 style="font-size: medium;">Jun’21 – Jul’21</h6>
							</div>
							<p>India’s leading Corporate. In its infancy, IFortis was in the business of IT Services & Marketing Services.
							   Represented IFortis on campus and devised awareness among students for the event organized by IFortis Corpo.
							</p>
						  </li>
					  
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
							  Co-Head of INNOVA 2020 | DTU
							  <h6 style="font-size: medium;">Oct’19 – Feb’20</h6>
							</div>
							<p>The Annual Techno-Management fest of Delhi Technological University.
							   Lead a team of 40 members and manage events between various college groups.
							</p>
						  </li>
					  
						</ul>
					  </div>  
				</div>
				
				<div class="col-md-6 col-sm-6">
					<h2 class="title">EXTRA-CURRICULAR ACTIVITIES</h2>
					<div class="rb-container">
						<ul class="rb">
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
								World Environment Day
							  <h6 style="font-size: medium;">2018</h6>
							</div>
							<p>Volunteer on World environment day event 2018 held in DTU for pollution free environment.
							</p>
							</li>
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
								Road Safety Mega Event
							  <h6 style="font-size: medium;">2018</h6>
							</div>
							<p>Volunteer on Road Safety Mega Event organized by National Service Scheme in 2018.</p>
						  </li>
					  
						  <li class="rb-item" ng-repeat="itembx">
							<div class="timestamp">
							  Science Exhibition
							  <h6 style="font-size: medium;">10th class</h6>
							</div>
							<p>2nd Position in 10th class on working model of lightning protection system during science exhibition.</p>
						  </li>
					  
						</ul>
					  </div>  
					</div>
			</div>
		</div>
	</section>
	<!-- END RESUME -->



	<!-- START PORTFOLIO -->
	<section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My <strong>Projects</strong></h2>
					</div>

					<!-- START ISO SECTION -->
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".html">Web Development</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".photoshop">App Development</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".wordpress">IoT</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".ml">Machine Learning</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".mobile">More Projects</a></li>
						</ul>
						<div class="iso-box-section">
							<!--//web dev-->
							<div class="iso-box-wrapper col4-iso-box">
								<div class="iso-box html    col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/rest1.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Restaurant Management System Using Angular JS</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/rest2.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Restaurant Login page and add restaurant using api calls and postman service</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/ehome.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Home Page with beautiful footer</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/eauth.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Authentication Page</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/chatapp.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Chatt App using React JS</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/ecoom.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Ecommerce Website using react and fake api</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/angularcurd.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>CURD Application using Angular with a form</p>
										</div>
									</div>
								</div>
								<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/canvas.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>CANVAS APP Using HTML CSS JAVA</p>
										</div>
									</div>
								</div>
<!--//AppDev-->
                                <div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/f1.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Ecommerce App UI using Flutter</p>
										</div>
									</div>
								</div>
								<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/f2.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Resto LoginIN and SignIn App using firebase</p>
										</div>
									</div>
								</div>
								<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/f3.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Phone No. Authentication using firebase</p>
										</div>
									</div>
								</div>
								<!--//IOT-->
								
								<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/io1.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Internet of Things (IoT) based Weather Monitoring System</p>
										</div>
									</div>
								</div>
								<div class="iso-box wordpress col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/iot3.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>OBSTACLE AVOIDING CAR was made using Arduino Uno board and an Ultrasonic sensor as major components</p>
										</div>
									</div>
								</div>
								<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/io2.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>RADAR(Radio Detection and Ranging) Using ARDUINO MEGA</p>
										</div>
									</div>
								</div>
								<!--//ML-->
								<div class="iso-box  ml  col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/io1.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>Internet of Things (IoT) based Weather Monitoring System</p>
										</div>
									</div>
								</div>
								<div class="iso-box ml col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/iot3.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>OBSTACLE AVOIDING CAR was made using Arduino Uno board and an Ultrasonic sensor as major components</p>
										</div>
									</div>
								</div>
								<div class="iso-box  ml  col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/io2.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>RADAR(Radio Detection and Ranging) Using ARDUINO MEGA</p>
										</div>
									</div>
								</div>

								<!--More-->
								<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/path.jpeg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>PATH FINDING VISUALIZER Using A* and Djkstra Algorithms</p>
										</div>
									</div>
								</div>

								<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
									<div class="portfolio-thumb">
										<img src="images/Projects/ytd.png" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<p>YOUTUBE VIDEO DOWNLOADER using python</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END PORTFOLIO -->

	

	<!-- START ABOUT -->
	<section id="about" class="tm-about">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7">
					<div class="title">
						<h2>This is <strong>me</strong></h2>
						<h1 class="tm-red-text">Harsh <strong>Panchal</strong></h1>
					</div>
					<p>Well, I'm currently in 4th year B.tech (Engineering physics) in Delhi Technological University. I choose that field of study because I've always been interested in physics and electronics. I have experience in working with  IOT,  Web Applications and mobile applications, database and knowledge of C++,C, Python, SQL, OOPs and Data Structures & algorithms. I can work with Angular, Node , Mern stack, Wordpress , flutter ,Arduino and  Linux based environment.</p>
		            <p><a rel="nofollow" href="https://github.com/Harsh5chal">GitHub</a></p>
					<p><a rel="nofollow" href="https://www.linkedin.com/in/harsh-panchal-1a878014a/">LinkedIn</a></p>
					
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->
	
	<!-- Certificates -->
	<section id="certificates" class="tm-certificates">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounce">
				<div class="title">
					<h2 class="tm-certificates-title">My <strong>Certificates</strong></h2>
				</div>
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
						<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".html">HackerRank</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".photoshop">Coursera</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".wordpress">Udemy & Edureka</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".mobile">More Certificates</a></li>
					</ul>
					<div class="iso-box-section">

						<!--Hackerrank-->
						<div class="iso-box-wrapper col4-iso-box">
							<div class="iso-box html    col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/o0.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>HackerRank Problem Solving</p>
									</div>
								</div>
							</div>
							<div class="iso-box html   col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/o01.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>HackerRank Java Basic</p>
									</div>
								</div>
							</div>
							
			<!--Coursera-->
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/g1.png" class="fluid-img" alt="certificates img">
									<div class="portfolio-overlay">
										<p>Crash Course on Python</p>
									</div>
								</div>
							</div>
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/c1.png" class="fluid-img" alt="certificates img">
									<div class="certificates-overlay">
										<p>Introduction to ML by Duke University</p>
									</div>
								</div>
							</div>
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/c2.png" class="fluid-img" alt="certificates img">
									<div class="certificates-overlay">
										<p>Python By University of Michigan</p>
									</div>
								</div>
							</div>
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/c3.png" class="fluid-img" alt="certificates img">
									<div class="certificates-overlay">
										<p>Simple App in Android Studio</p>
									</div>
								</div>
							</div>
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/c4.png" class="fluid-img" alt="certificates img">
									<div class="certificates-overlay">
										<p>Object Oriented Programming by UCSanDiego</p>
									</div>
								</div>
							</div>
							<div class="iso-box  photoshop col-md-3 col-sm-3 col-xs-12">
								<div class="certificates-thumb">
									<img src="images/certi/c5.png" class="fluid-img" alt="certificates img">
									<div class="certificates-overlay">
										<p>Building Web Application Using PHP by University of Michigan</p>
									</div>
								</div>
							</div>
							<!--//Udemy&Edureka-->
							
							<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/e0.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Data Science with Python</p>
									</div>
								</div>
							</div>
							<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/e1.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Data Science on PUBG data</p>
									</div>
								</div>
							</div>
							<div class="iso-box wordpress col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/u1.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Wordpress Website</p>
									</div>
								</div>
							</div>
							<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/u2.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>ROS robot operating system</p>
									</div>
								</div>
							</div>
							<div class="iso-box  wordpress  col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/u3.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Business Analytics: Use Data Analytics For Financial Industries</p>
									</div>
								</div>
							</div>
							<!--//More-->
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o0.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>HackerRank Problem Solving</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o01.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>HackerRank Java Basic</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o03.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Cutshort C++ Advance</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o02.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Cutshort HTML/CSS Basic</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o05.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Sanfoundry c++ internship with A grade</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o06.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Artificial Intelligence ACCENTURE</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o07.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Microsoft Artificial Intelligence Classroom Series</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o04.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Microsoft Virtual Experience Programme</p>
									</div>
								</div>
							</div>
			
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o1.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>8086 Microprocessor</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o2.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>MLops</p>
									</div>
								</div>
							</div>
							<div class="iso-box mobile col-md-3 col-sm-3 col-xs-12">
								<div class="portfolio-thumb">
									<img src="images/certi/o3.png" class="fluid-img" alt="portfolio img">
									<div class="portfolio-overlay">
										<p>Project Based Learning on ML</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			</section>
			</div>
	</div>		
	</section>
	<!-- END Certi -->        

		<!--social media-->
		
	


	<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/imagesloaded.min.js"></script>
	<script src="js/custom.js"></script>

	         
</body>
</html>
